<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	{control css}
	{ifset $isAdmin}{control cssadmin}{/ifset}
	<title>{ifset title}{include title|striptags} | {/ifset}Srovnator</title>
</head>

<body>

<div class="jumbotron">
	<div class="container">
		<h1><i class="fa fa-check-square-o"></i> Vítejte!</h1>
		<p>Toto je předváděcí návrh aplikace pro výpočet pojistného.
			<a n:href="Homepage:" class="btn btn-primary pull-right">Domů</a>
		</p>

	</div>
</div>


<div class="container">
	{snippet flashes}
		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span class="fa fa-{$flash->type}" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{$flash->message}
		</div>
	{/snippet}

	{include content}



</div>

<footer class="footer">
	<div class="container text-center">
		<p class="text-muted">Srovnator example by Chap</p>
	</div>
</footer>
{control js}{block scripts}{/block}
</body>
</html>
