{block title}Výsledná kalkulace{/block}
{block content}


<div class="row">
    <div class="col-md-6 ">
        <div class="panel panel-success">
            <div class="panel-heading"><h2>Výsledná kalkulace</h2></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5" ?>
                        <h4>PSČ</h4>
                    </div>
                    <div class="col-md-7">
                        {$data->postcode}
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-5" ?>
                        <h4>Město</h4>
                    </div>
                    <div class="col-md-7">
                        {$city}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5" ?>
                        <h4>E-mail</h4>
                    </div>
                    <div class="col-md-7">
                        {$data->email}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5" ?>
                        <h4>Datum narození </h4>
                    </div>
                    <div class="col-md-7">
                        {$data->birthdate|date:'j.n.Y'}
                        ({$data->birthdate|age} let)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5" ?>
                        <h4>Typ vozidla</h4>
                    </div>
                    <div class="col-md-7">
                        <i class="fa fa-{$data->icon}"></i> {$data->name}
                    </div>
                </div>

                <div class="row" n:if="$data->weight !== NULL">
                    <div class="col-md-5" ?>
                        <h4>Hmotnost</h4>
                    </div>
                    <div class="col-md-7">
                        {$data->weight} Kg
                    </div>
                </div>
                <div class="row" n:if="$data->power !== NULL">
                    <div class="col-md-5" ?>
                        <h4>Výkon</h4>
                    </div>
                    <div class="col-md-7">
                        {$data->power} kW
                    </div>
                </div>

                <div class="row" n:if="$data->volume !== NULL">
                    <div class="col-md-5" ?>
                        <h4>Objem</h4>
                    </div>
                    <div class="col-md-7">
                        {$data->volume} ccm
                    </div>
                </div>
            </div>
            <div class="panel-footer ">
                <div class="row">
                    <div class="col-md-5" ?>
                        <h4>Cena</h4>
                    </div>
                    <div class="col-md-7">
                        {$data->price} Kč
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="panel panel-info">
            <div class="panel-heading"><h2>Možnost náhledu do historie</h2></div>
            <div class="panel-body">
                {control preview}

                <div n:snippet="oldprice" data-ajax-prepend>

                    <div n:ifset="$price" class="row">
                        <hr>
                        <div class="col-md-8">Výpočet platný pro datum: <b>{$date|date:'j.n.Y'}</b></div>
                        <div class="col-md-4">{$price} Kč</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>



