<div n:wizard="wizard">


    {step 1}
    <h2>První krok</h2>
    <hr>
    <div class="row">
        <div class="col-md-offset-1 col-md-8">
            {control $form}
        </div>
    </div>

    {/step}

    {step 2}
        <h2>Druhý krok</h2>
        <hr>
    {* je třeba nejprve inicializovat formulář pro získání hodnot z kroku 1 *}
    {capture $myForm}{control $form}{/capture}
    {var $data = $wizard->values}

    <div>
        <div class="row">
            <div class="col-md-3" ?>
                <h4>PSČ</h4>
            </div>
            <div class="col-md-9">
                {$data->postcode}
            </div>

        </div>
        <div class="row">
            <div class="col-md-3" ?>
                <h4>E-mail</h4>
            </div>
            <div class="col-md-9">
                {$data->email}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" ?>
                <h4>Datum narození </h4>
            </div>
            <div class="col-md-9">
                {$data->birthdate}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" ?>
                <h4>Typ vozidla</h4>
            </div>
            <div class="col-md-9">
                {var $car = $carsFacade->getById($data->car)}

                <i class="fa fa-{$car->icon}"></i> {$car->name}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-8">
            {!$myForm}
        </div>
    </div>

    {/step}


    {step success}
        {* zde by mohlo byt nejake dalsi info, ale resim to komponentou s vysledkem,
         ktera toto info zobrazi*}
    {/step}
</div>