{* Latte template *}

<div class=" row ">
    {form form}
        <div class="col-md-2">
            {label date}{/label}
        </div>
        <div class="col-md-5">
            {input date}
        </div>
        <div class="col-md-5">
            {input submit}
        </div>
    {/form}
</div>

